body {
  background-image: url(/pics/garden-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}

body #quarto-content {
    padding: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0.01) 0em, rgba(255,255,255,0.25) 6em, rgba(255,255,255,0.85) 35em, rgba(255,255,255,0.9) 60em);
    grid-column: screen-start/screen-end;
    grid-row: contents-top/contents-bottom;
}
body .page-columns{
  display: grid;
  justify-items: center;
}