/*-- scss:rules --*/

.blog .blog-entry:hover {
  background: #a05b0010;
  border-top: 2px solid #a05b00;
  animation: glow-orange 2s ease-in-out infinite alternate;
}

@mixin keyframes($glow-orange) {
  @-webkit-keyframes #{$glow-orange} {
    @content;
  }
  @keyframes #{$glow-orange} {
    @content;
  }
}

@include keyframes(glow-orange) {
  from {
    text-shadow: 0 0 2px #fff, 0 0 2px rgb(226, 147, 43);
  }
}
