/*-- scss:rules --*/

.blog .blog-entry:hover {
  background: #024a7d10;
  border-top: 2px solid #024a7d;
  animation: glow-blue 1s ease-in-out infinite alternate;
}

@mixin keyframes($glow-blue) {
  @-webkit-keyframes #{$glow-blue} {
    @content;
  }
  @keyframes #{$glow-blue} {
    @content;
  }
}

@include keyframes(glow-blue) {
  from {
    text-shadow: 0 0 2px #fff, 0 0 2pxrgb (0, 108, 185);
  }
}
